/*General*/

body {
	background-color: gainsboro;
	padding: 10px;
}

body header {
	border-style: solid;
	border-color: #BE1010;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	max-width: 90%;
}
 body header h1 {
 	margin-bottom: 0;
 }

#translator {
	margin-top: 10px;
	font-size: 2rem;
}

#userText {
	padding: 10px;
}

#translateButton {
	font-size: 2rem;
	color: #BE1010;
	padding: 4px;
	margin: 2px;
}
